@section Title {
    Home Page
}

<div class="text-center mt-5">
    <h1 class="display-4">Welcome to Your MVC Project with Bootstrap</h1>
    <p class="lead">This is a simple example of Bootstrap in an ASP.NET Core MVC application.</p>
    <a href="#" class="btn btn-primary btn-lg">Learn More</a>
</div>
